.imagenlogo {
    position: left;
    width: 25%;
    height: 25%;
    display: inline-flex;
}

.accesos {
    display: inline;
}

header {
    display: flex;
}

.navbar {
    background-color: rgba(253, 253, 253, 0.514);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px;
    top: -1px;
    position: sticky;
    display: none;

    nav {
        display: inline-flex;
        align-items:center;
    }
    
    a {
        margin: 10px;
        text-decoration: none;
        color: rgb(83, 83, 83);
    }
}



div {
    
    justify-content: center;
    border-bottom: 5px;
    display: flex;
    padding-left: 2px;
    margin: 20px;
}



.button {
    background-color: rgba(216, 171, 151);
    border-radius: 10px;
    width: 150px;
    height: auto;
    margin: 0px;
    border-color: rgba(216, 171, 151);
    border-bottom: none;
    text-align: center;
}
